<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TWITTER_USER_INPUT_FILE_FORMAT" value="^\w+\sfollows((\s\w+),)*(\s\w+)$"/>
    <add key="TWITTER_USER_INPUT_FILE_RULE" value="[USER_NAME][SPACE_CHAR]['follows'][SPACE_CHAR][COMMA_DELIMITED_LIST_OF_USER_NAMES] e.g. Zuma follows CCMA, Careers24, PNet"/>
    <add key="TWITTER_MESSAGE_INPUT_FILE_FORMAT" value="^\w+>\s.*"/>
    <add key="TWITTER_MESSAGE_INPUT_FILE_RULE" value="[USER_NAME]>[SPACE_CHAR][TWEET] e.g. 'Zuma> Is unemployed and worried!'"/>
  </appSettings>
</configuration>